stages:
  - test

# =======================
#     TEST DE CYPRESS 01
# =======================

cypress_01_tests:
  stage: test
  image: cypress/browsers:node18.12.0-chrome103-ff107
  script:
    - cd "cypress/01 cypress sencillo"
    - npm install
    - echo "Running Cypress tests for carpeta 01"
    - npx cypress run --browser electron
    - echo "Cypress tests finished."
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots

# =======================
#     TEST DE POSTMAN
# =======================

postman_tests:
  stage: test
  image:
    name: postman/newman:latest
    entrypoint: [""]
  script:
    - cd "ejercicios-API-con-postman"
    - echo "Running Postman collection"
    - newman run collection.json
