stages:
  - test

# =======================
#     TEST DE CYPRESS 01
# =======================

cypress_01_tests:
  stage: test
  image: cypress/included:12.17.1
  script:
    - cd "cypress/01 cypress sencillo"
    - npm install
    - npx cypress run --headless --browser electron

# =======================
#     TEST DE POSTMAN
# =======================

postman_tests:
  stage: test
  image:
    name: postman/newman:latest
    entrypoint: [""]
  script:
    - cd "ejercicios-API-con-postman"
    - newman run collection.json
