stages:
  - test

# =======================
#     TESTS DE CYPRESS
# =======================

cypress_01_tests:
  stage: test
  image: cypress/included:12.17.1
  script:
    - cd "cypress/01 cypress sencillo"
    - npm ci
    - npx cypress run --headless

cypress_02_tests:
  stage: test
  image: cypress/included:12.17.1
  script:
    - cd "cypress/02 cypres POM"
    - npm ci
    - npx cypress run --headless

cypress_03_tests:
  stage: test
  image: cypress/included:12.17.1
  script:
    - cd "cypress/03 cypress POM + cucumber"
    - npm ci
    - npx cypress run --headless

# =======================
#     TESTS DE POSTMAN
# =======================

postman_tests:
  stage: test
  image:
    name: postman/newman:latest
    entrypoint: [""]
  script:
    - cd postman
    - newman run collection.json
