stages:
  - test

# =======================
# TEST DE CYPRESS 01
# =======================
cypress_01_tests:
  stage: test
  image: cypress/browsers:node-22.21.0-chrome-141.0.7390.107-1-ff-144.0-edge-141.0.3537.92-1
  script:
    - cd "cypress/01_sencillo"
    - npm install --unsafe-perm
    - chmod +x node_modules/.bin/cypress
    - npx --unsafe-perm cypress verify
    - npx --unsafe-perm cypress run --browser electron --headless
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots

# =======================
# TEST DE CYPRESS 02
# =======================
cypress_02_tests:
  stage: test
  image: cypress/browsers:node-22.21.0-chrome-141.0.7390.107-1-ff-144.0-edge-141.0.3537.92-1
  script:
    - cd "cypress/02_POM"
    - npm install --unsafe-perm
    - chmod +x node_modules/.bin/cypress
    - npx --unsafe-perm cypress verify
    - npx --unsafe-perm cypress run --browser electron --headless
  artifacts:
  expire_in: 1 week
  when: always
  paths:
    - cypress/02_POM/cypress/videos
    - cypress/02_POM/cypress/screenshots

# =======================
# TEST DE CYPRESS 03
# =======================
cypress_03_tests:
  stage: test
  image: cypress/browsers:node-22.21.0-chrome-141.0.7390.107-1-ff-144.0-edge-141.0.3537.92-1
  script:
    - cd "cypress/03_POMcucumber"
    - npm install --unsafe-perm
    - chmod +x node_modules/.bin/cypress
    - npx --unsafe-perm cypress verify
    - npx --unsafe-perm cypress run --browser electron --headless
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - cypress/videos
      - cypress/screenshots

# =======================
# TEST DE POSTMAN
# =======================
postman_tests:
  stage: test
  image:
    name: postman/newman:latest
    entrypoint: [""]
  script:
    - cd "ejercicios-API-con-postman"
    - newman run collection.json
