name: QA Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress_tests:
    runs-on: ubuntu-latest
    name: Ejecutar tests de Cypress
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          npm install
          npm install cypress --save-dev

      - name: Run Cypress tests
        run: |
          npx cypress run --spec "practicas-curso-qa/cypress/01_sencillo/cypress/e2e/todoMVC-sencillo.cy.js"

  postman_tests:
    runs-on: ubuntu-latest
    name: Ejecutar tests de Postman con Newman
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Newman
        run: |
          npm install -g newman

      - name: Run Postman collection
        run: |
          newman run practicas-curso-qa/ejercicios-API-con-postman/collection.json
